body
{
    margin-left: auto;
    margin-right: auto;
    background: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

div
{
    margin-left: auto;
    margin-right: auto;
}

.grid
{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.grid div
{
    border: 1px solid black;
}

.snake
{
    background: darkgreen;
}

.fruit
{
    background: url("../assets/fruit02.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.playerInfo
{
    display: flex;
    width: 600px;
    text-align: center;
    margin-top: 1em;
    font-size: 1.3em;
    flex-direction: row;
    justify-content: space-evenly;
}

.playerInfo p
{
    text-align: center;
}

#message
{
    text-align: center;
}

#reset
{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;

    border: 1px solid black;
    padding: 1em;
    font-size: 1.3em;
}

button
{
    background-color: rgb(255, 255, 255);
}

button:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}

select
{
    font-size: 1em;
}

.snakeHead
{
    background: url(../assets/Snake-Head.png);
    background-size: 100% 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.snakeBody
{
    background: url(../assets/Snake-Body.png);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;   
}

.snakeTail
{
    background: url(../assets/Snake-Tail.png);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.snakeTurnRight
{
    background: url(../assets/Snake-Turn-Right.png);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.snakeTurnLeft
{
    background: url(../assets/Snake-Turn-Left.png);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

#mainMenuBtn
{
    margin-left: 0.3em;
    margin-top: 0.3em;

    border: 1px solid black;
    padding: 1em;
    font-size: 1em;
}


/* snake sprites url: https://rembound.com/articles/creating-a-snake-game-tutorial-with-html5 */