body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mainMenu
{
    width: 600px;
    margin: 5em auto;
    
}

h1
{
    font-size: 3.5em;
}

button
{
    display: block;
    margin: 1em auto;

    border: 1px solid black;
    padding: 0.5em;
    width: 400px;
    font-size: 2em;
}

a
{
    text-decoration: none;
}

button:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}