body
{
    margin-left: auto;
    margin-right: auto;
    background: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../assets/bg01.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

div
{
    margin-left: auto;
    margin-right: auto;
}

.grid
{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.grid div
{
    border: 1px solid black;
    background-color: lightgreen;
}

.snake
{
    background: darkgreen;
}

.fruit
{
    background: url("../assets/fruit02.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.playerInfo
{
    display: flex;
    width: 600px;
    text-align: center;
    margin-top: 1em;
    font-size: 1.3em;
    flex-direction: row;
    justify-content: space-evenly;
}

.playerInfo p
{
    text-align: center;
}

#message
{
    text-align: center;
}

#reset
{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;

    border: 1px solid black;
    padding: 1em;
    font-size: 1.3em;
}

button
{
    background-color: #A5D6A7;
    border-radius: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover
{
    background-color: #388E3C;
    transform: scale(1.1);
}

select
{
    font-size: 1em;
    border-radius: 1em;
    background: #A5D6A7;
}

.snakeHead
{
    background: url(../assets/Snake-Head.png);
    background-size: 100% 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.snakeBody
{
    background: url(../assets/Snake-Body.png);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;   
}

.snakeTail
{
    background: url(../assets/Snake-Tail.png);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.snakeTurnRight
{
    background: url(../assets/Snake-Turn-Right.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.snakeTurnLeft
{
    background: url(../assets/Snake-Turn-Left.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#mainMenuBtn
{
    margin-left: 0.3em;
    margin-top: 0.3em;

    border: 1px solid black;
    padding: 1em;
    font-size: 1em;
}

.rock
{
     background: url(../assets/Sprites/rock.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.crown
{
    background: url(../assets/crown.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.popup
{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    top: 250px;

    background: rgba(255, 255, 255, 0.8);
    padding: 1em 4em;
    align-items: center;
    border-radius: 2em;
    z-index: 10;
}

.popup button
{
    display: block;
    margin: 1em auto;

    border: 5px solid black;
    padding: 0.5em;
    width: 400px;
    font-size: 2em;
}

.popup h1
{
    text-align: center;
}

.popup a
{
    text-decoration: none;
}

.hidden
{
    opacity: 0;
}

.key
{
    background: url(../assets/blue-key.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* snake sprites url: https://rembound.com/articles/creating-a-snake-game-tutorial-with-html5 */